{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-10">
            <div class="card" style="width: 18rem;">
                <img src="{{ object.preview | media_filter }}" width: 100px; height: 100px;>
                <div class="card-body">
                    <h5 class="card-title">{{ object }}</h5>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ object }}</li>
                    <li class="list-group-item">{{ object.body }}</li>
                    <li class="list-group-item">{{ object.views_count }}</li>
                    <li class="list-group-item">{{ object.created_at }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'editor:list' %}" class="card-link">Назад</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
