{% extends 'catalog/base.html' %}
{% block content %}
    <div class="col-12">
    <div class="row">
    <div class="col-6">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Хотите удалить продукт "{{ object.title }}?"</p>
                <button type="submit" class="btn btn-success">Подтвердить</button>
                <a href="{% url 'catalog:list' %}" class="btn btn-success">Отмена </a>
            </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}